# Dependencies
**/node_modules/

# Environment Variables
**/.env

# Logs
*.log
logs/

# Build Output
dist/
build/

# Vite
.vite/

# Operating System Files
.DS_Store
Thumbs.db

# Python
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd